h1 {
    
    color: rgb(255, 255, 255);
    
    font-size: 5em;
    
    text-align: center;
    
    margin-top: 50px;
    
    padding: 45px;
    
    font-style: italic;
}

body {
    
    background-image: url("light-bubbles.JPG");
    
    background-repeat: no-repeat;
    
    background-position: left top;
    
    background-attachment: fixed;
    
    background-size: cover;
    
    font-family: 'Times New Roman';
    
    padding: 10%;

}

.heading {
    
    color: rgb(7, 7, 73);
    
    font-size: 3em;
    
    margin-left: 40%;
    
    margin-right: 2%;
    
    margin-bottom: 20px;
    
    padding-top: 50px;
    
    padding-right: 50px;
    
    padding-left: 150px;
}

#body {
    
    background-image: url("nikon-lens.jpg");
    
    background-repeat: no-repeat;
    
    background-position: left top;
    
    background-attachment: fixed;
    
    background-size: cover;
    
    font-family: 'Times New Roman';
    
    padding: 10%;
}


p {

    font-size: 1.3em;

    text-align: center;

    color: rgb(255, 255, 255);

    padding-bottom: 5px;

}

#meaningless {

    color: blue;
}

#container {

    background-color: rgba(222, 184, 135, 0.479);

    padding: 75px;

    margin: 75px;
}

.inline ul{

    list-style-type: none;

    padding: 0;

    margin: 0;
    
}

.inline ul li {

    float: right;
    
}

.inline ul li a {

    display: block;

    text-transform: uppercase;

    text-decoration: none;

    margin-left: 130px;

    margin-right: 10%;

    margin-top: 2%; 

    padding-left: 20px;

    padding-right: 5px;

    padding-top: 10px;

    padding-bottom: 10px;

    color: rgb(7, 7, 5);

    font-size: 1em;

    text-transform: uppercase;

    font-family: sans-serif;

}

.inline ul li a:hover {

    color: rgb(73, 73, 73);
    
}

.button2 {

    display: inline;

    text-decoration: none;

    background-color: cyan;

    color: rgb(8, 8, 8);

    padding-top: 25px;

    padding-left: 20px;

    padding-right: 20px;

    padding-bottom: 25px;

    margin: 25px;

    border-radius: 20px;
}

.button2:hover {

    background-color: teal;
    
}

.button { 

    display: inline;

    text-decoration: none;

    background-color: cyan;

    color: rgb(0, 0, 0);

    padding: 25px;

    margin: 50px;

    border-radius: 20px;

}

.button:hover {

    background-color: teal;
    
}

.nav ul {

    list-style-type: none;

    padding: 0;

    margin: 0;

    position: fixed ;

    top: 0;

    left: 0;

    background-color: rgb(153, 124, 86);

    width: 100%;
}

.nav ul li {

    float: right;

    background-color: rgb(153, 124, 86)
   
}

.nav ul li a {

    display: block;

    padding-left: 20px;

    padding-right: 20px;

    padding-top: 10px;

    padding-bottom: 10px;

    color: cornsilk;

    text-decoration: none;

    font-size: 1em;

    text-transform: uppercase;

    font-family: sans-serif;

}

.nav ul li a:hover {

    background-color: darkgray;

}

div.gallery {

    margin: 5px;

    border: 2px solid #ccc;

    float: left;

    width: 200px;

}
  
div.gallery:hover {

    border: 1px solid #777;
}
  
div.gallery img {

    width: 100%;

    height: auto;
}
  
div.desc {

    padding: 15px;

    text-align: center;

    color: cornsilk;

    font-size: 20px;


    font-weight: bold;

    font-family: 'Times New Roman';
}

.film {

    padding-left: 15%;
}
